<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GamePanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <GamePanel.Properties.Settings>
            <setting name="ServersDirectory" serializeAs="String">
                <value>C:\Servers\Servers\</value>
            </setting>
            <setting name="OrginalDirectory" serializeAs="String">
                <value>C:\Servers\Games\</value>
            </setting>
            <setting name="IPsFile" serializeAs="String">
                <value>C:\Servers\ips.xml</value>
            </setting>
        </GamePanel.Properties.Settings>
    </applicationSettings>
</configuration>